

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                  <th scope="col" class="px-6 py-3">
                      ID
                  </th>
                  <th scope="col" class="px-6 py-3">
                        Title
                    </th>
                  <th scope="col" class="px-6 py-3">
                        Director
                  </th>
                  <th scope="col" class="px-6 py-3">
                        Release Date
                  </th>
                  <th scope="col" class="px-6 py-3">
                        Genre
                  </th>
                  <th scope="col" class="px-6 py-3">
                        Cover Image
                  </th>
                  <th scope="col" class="px-6 py-3">
                  Action
                  </th>
              </tr>
          </thead>
          <tbody>
            <!-- @for(item of listFilms; track item.id ){ -->
            <tr>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                        <!-- {{item.id}} -->
                    </th>
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-black">
                      <!-- {{item.title}} -->
                  </th>
                  <td class="px-6 py-4 text-black">
                        <!-- {{item.director}} -->
                  </td>
                  <td class="px-6 py-4 text-black">
                        <!-- {{item.releaseDate}} -->
                  </td>
                  <td class="px-6 py-4 text-black">
                        <!-- {{item.genre}} -->
                  </td>
                  <td class="px-6 py-4 text-black">
                        <!-- <img src={{item.coverImage}} alt=""> -->
                  </td>
                  <td class="px-6 py-4 text-black space-x-4">
                      <a  class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Delete</a>
                      <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline cursor-pointer">Edit</a>
                  </td>
                </tr>
            <!-- } -->
              
          </tbody>
      </table>
  </div>
  